.add-aux-element-modal__content {
  padding: 20px 20px;
  max-width: 700px;
  font-family: 'Quicksand', sans-serif;
}

.add-aux-element-modal__input-label {
  font-size: 20px;
}

.add-aux-element-modal__input {
  font-size: 20px;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.add-aux-element-modal__save-button {
  font-size: 20px;
  cursor: pointer;
}

.add-aux-element-modal__header {
  border-radius: 3px 3px 0 0;
  padding: 10px 15px;
  background: #f4f5f6;
  border-bottom: 1px solid #ddd;
  text-shadow: 0 1px 1px #fff;
}

.add-aux-element-modal__concept-entry-button {
  height: 100%;
  cursor: pointer;
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
}

.add-aux-element-modal__concept-entry-button:hover {
  text-decoration: underline;
}